.btn-large{
  font-size: 16px !important;
  border-radius: 3px !important;
  font-weight: bold !important;
  min-width:161px;
}

.cta-org{
  background-image: linear-gradient(to top, #f16023, #f79039)!important;
  border:1px solid #ffffff;
  color:#fff !important;
  margin: 10px 0 10px 0;
}

.cta-clear{
  border:1px solid #ffffff;
  border-radius:3px !important;
  color:#fff !important;
}

.cta-blue{
  background-image: linear-gradient(-179deg, #00BFF5 2%, #00ABDB 100%) !important;
  border: 1px solid #FFFFFF !important;
  border-radius: 3px;
  margin: 10px 0 10px 0;
  color: white !important;
  font-weight: bold;
  font-size: 16px;
  font-style: normal;
  text-transform: uppercase !important;
  height: 54px !important;
  line-height: 54px !important;
  text-align: center!important;
  //&:hover{
  //  background-color: transparent !important;
  //  background-image: none !important;
  //  color: #00BFF5!important;
  //  border: 1px solid #00BFF5 !important;
  //  transition: .3s ease-out;
  //  -webkit-tap-highlight-color: transparent;
  //  will-change: opacity,transform;
  //
  //}
}

.donate-btn{
  min-width: 180px;
}

//MAIN NAV
nav ul a:hover {
  background-color: transparent !important;
}

//GALA NAV
nav ul.gala a {
  padding: 0 !important;
  color: #ffffff;
  &:hover {
    background-color: transparent !important;
  }
}

nav ul a.active {
  color: #00BFF5;
  border-bottom: 3px solid #00bff5;
  transition: background-color .3s;
}

nav {
  .gala-nav{
    height:40px;
    line-height: 42px;
    ul.gala{
      //line-height: 74px !important;
      li {
        padding: 0 10px;
        a.dt-donate-btn{
          margin: 10px 0 !important;
          padding:0 20px !important;
        }
      }
    }
  }
}

//<div class="gala-nav nav-wrapper transparent">
//<div class="white row m0" style="height:40px;">
//<div class="col s12" style="height:40px;">
//<div class="container" style="height:40px;">
//nav{
//  height: 40px;
//  line-height: 42px!important;
//}
//MOBILE
nav i, nav i.material-icons{
  color: black;
}

nav .button-collapse i {
  height: 40px;
  line-height: 40px;
}

nav .button-collapse {
  float: right !important;
  margin: 0 !important;
}

.fownders-logo{
  line-height:40px;
}

.mobile-donate-btn{
  background-image: linear-gradient(-179deg, #00BFF5 2%, #00ABDB 100%);
  border: 1px solid #FFFFFF ;
  position: fixed;
  bottom:0;
  right:0;
  left:0;
  z-index: 999;
  margin: 0;
}

.ff-mobile-btn{
  padding-right: 40px;
}

//.dt-donate-btn{
//  margin-top: 10px!important;
//  padding:0 20px !important;
//}

a.gala-link {
  margin-top: 12px !important;
}
//.nav-logo{
//  padding-top: 10px;
//}

//nav ul a.active {
//  background-color: #00BFF5 !important;
//}
//nav ul a:visited {
//  color: #00BFF5 !important;
//}