@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*@font-face {*/
  /*font-family: ‘Baskerville’;*/
  /*src: url('https://cdn2.hubspot.net/hubfs/3357911/Future%20Fownders/Breaking%20Bread/Baskerville.ttc') format('truetype');*/
/*}*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato',sans-serif !important;
  background-color: white !important;
  font-size: 15px !important;
}

h2{
  font-size: 25px !important;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700 !important;
  /*padding-top: 25px;*/
}

h5{
  font-size: 1.44rem !important;
  text-transform: uppercase;
}

p{
  font-size: 15px !important;
  font-weight: 500 !important;
  line-height: 180%;
  text-align: justify !important;
}

.btn{
  background-color:#369FF4 !important;
  border: solid 1px #369FF4;
  border-radius: 6px !important;
}

.btn.transparent{
  font-size: 14px !important;
  background-color: transparent !important;
  border: solid 1px #ffffff;
  border-radius: 6px !important;
  padding: 0 1rem;
  margin-left: 12px;
}

.btn i{
  vertical-align: sub;
}

a.hover-blue:hover{
  color: #369FF4 !important;
}

.footer-donate input{
  border-color: transparent;
  border-style: none !important;
  border-width: none !important;
  padding: 0 !important;
  color: #999999 !important;
}

:focus {
  outline: none !important;
}

/*.btn:hover{*/
  /*color:white !important;*/
  /*background-color: transparent !important;*/
  /*border: solid 1px #2E9DF7;*/
/*}*/

nav{
  z-index: 999;
  position: absolute;
  padding-top: .7%;
}

.nav-wrapper{
  padding: 0 5%;
}

nav .brand-logo{
  left:10%;
}

.brand-logo img{
  padding-top: 10%;
  vertical-align: bottom;
}

nav ul a{
  color:white !important;
}

a:hover {
  text-decoration: none !important;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.side-nav{
  background-color: rgba(0, 0, 0, .9) !important;
  padding-top: 40px;
}

.button-collapse{
  padding-top: 5px;
}

.hide{
  display: none;
}

.ft-25{
  font-size: 25px!important;
}

.relative-header{
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  top: 0;
  height: 100%;
}

.brand-blue{
  background-color:#369FF4 !important;
}

.brand-grey{
  background-color: #7F8B95;
}

.brand-dark-grey{
  background-color: #3A3A3A !important;
}

.dark-grey-text{
  color: #3A3A3A !important;
}

.brand-text{
  color:#369FF4 !important;
}

.brand-grey-text{
  color: #999999 !important;
}

.blue-hr {
  height: 1px;
  border-top: 1px solid #369FF4;
  background-color: #369FF4;
  margin: 2.67rem 0 1.424rem 0;
}

.grey-hr {
  height: .5px;
  border-top: 1px solid #B5B5B5;
  background-color: #B5B5B5;
}

.bold{
  font-weight: bolder !important;
}

.uppercase{
  text-transform: uppercase !important;
}

.normal{
  text-transform: none !important;
}

.p0{
  padding: 0 !important;
}

.m0{
  margin: 0 !important;
}

.mt0{
  margin-top: 0 !important;
}

.mb0{
  margin-bottom: 0 !important;
}

.pt-1{
  padding-top: 1%;
}

.ptb-4{
  padding-top: 4%;
  padding-bottom: 4%;
}

.ptb-6{
  padding-top: 6%;
  padding-bottom: 6%;
}

.mt-2{
  margin-top: 2%;
}

.mb-1{
  margin-bottom: 1%;
}

.lh-40{
  line-height: 140% !important;
}

.center{
  text-align: center !important;
}

.bg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ourwork-header-bg .container{
  padding-top: 10%;
}

.home-header-bg{
  background-image: linear-gradient(to right, rgba(0, 0, 0, .99), rgba(0, 0, 0, .2)),url('https://fownders.s3.us-east-2.amazonaws.com/future-fownders-home-header.jpg');
  height: 60vh;
  background-position: bottom !important;
}

.home-bg3{
  background-image: linear-gradient(to bottom, rgba(250, 250, 250, .7), rgba(250, 250, 250, 0)),url('https://fownders.s3.us-east-2.amazonaws.com/future-fownders-home-bg3.jpg');
  height: 100vh;
  padding: 2% 0;
}

.home-bg2{
  background-image: linear-gradient(to left, white ,transparent),url('https://fownders.s3.us-east-2.amazonaws.com/ff-home-section2.jpg');
  min-height: 100%;
  height: 465px;
}

.home-bg4{
  background-image: linear-gradient(to right, rgba(0, 0, 0, .99), rgba(0, 0, 0, .2)),url('https://fownders.s3.us-east-2.amazonaws.com/ff-home-section4.jpg');
  height: 68vh;
}

.why-header-bg{
  background-image: linear-gradient(to right, rgba(0, 0, 0, .99), rgba(0, 0, 0, .2)),url('https://fownders.s3.us-east-2.amazonaws.com/ff-why-header.jpg');
  height: 58vh;
}

.why-bg2{
  background-image: linear-gradient(to right, rgba(250, 250, 250, .99), rgba(250, 250, 250, .2)),url('https://fownders.s3.us-east-2.amazonaws.com/ff-why-section2.jpg');
  height: 58vh;
}

.why-bg3{
  background-image: url('https://fownders.s3.us-east-2.amazonaws.com/future-fownders-newark-bg.png');
  height: 100%;
}

.ourwork-header-bg{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .9), rgba(0, 0, 0, .2)),url('https://fownders.s3.us-east-2.amazonaws.com/ourwork-header.jpg');
  height: 80vh;
}

.ourwork-volunteer-bg{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .9), rgba(0, 0, 0, .2)),url('https://fownders.s3.us-east-2.amazonaws.com/ff-ourwork-volunteer.jpg');
  height: 80vh;
}

.about-header-bg{
  background-image: linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0)),url('https://fownders.s3.us-east-2.amazonaws.com/ff-aboutus-header.jpg');
  height: 68vh;
}

.events-header-bg{
  background-image: linear-gradient(to right, rgba(0, 0, 0, .6), rgba(0, 0, 0, .2)),url('https://fownders.s3.us-east-2.amazonaws.com/ff-events-header.jpg');
  height: 68vh;
  background-position: bottom !important;
}

footer{
  padding: 40px 0 30px 0 !important;
  background-color: #EDEDED !important;
}

footer p{
  color: #999999 !important;
}

footer a{
  color: #999999 !important;
}

.modal{
  background-color: rgba(0, 0, 0, .85) !important;
  overflow: hidden !important;
  max-height: 100% !important;
  top: 0 !important;
  height: 100vh !important;
  bottom: 0 !important;
  width: 100% !important;
}

/*LAPTOP AND UP*/
@media only screen and (min-width: 993px){
  .container {
    width: 80% !important;
  }
}

/*LAPTOP AND DOWN*/
@media only screen and (max-width: 992px){
  nav .brand-logo.left {
    left: 8% !important;
  }

  .blue-hr{
    margin: 1.5rem 0 0 0 !important;
  }
}

/*IPAD AND UP*/
@media only screen and (min-width: 769px){
  .modal i{
    font-size: 40px;
  }

  .modal{
    overflow: hidden !important;
    max-height: 100% !important;
    top: 0 !important;
    height: 100vh !important;
    bottom: 0 !important;
    width: 100% !important;
  }

  .modal .modal-content {
    padding: 5% 20% 20% !important;
  }
}

/*IPAD AND DOWN*/
@media screen and (max-width: 768px){
  .modal .modal-content {
    padding: 30% 10% 90% !important;
  }

  .mb-1{
    margin-bottom: 3% !important;
  }

  .ourwork-header-bg .container {
    padding-top: 24% !important;
  }

  .home-bg3{
    height: 100% !important;
  }

  .home-bg2, .events-header-bg{
    height: 250px !important;
  }

  .events-header-bg{
    height: 350px !important;
  }

  .blue-hr{
    margin: 1.5rem 0 0 0 !important;
  }
}

/*MOBILE VIEW*/
@media screen and (max-width: 600px) {
  .modal .modal-content {
    padding: 30% 10% 90% !important;
  }

  .team .ptb-4 {
    padding-top: 8% !important;
    padding-bottom: 8% !important;
  }
}

